docs/natural-language-processing-with-transformers-revised-edition-book.pdf filter=lfs diff=lfs merge=lfs -text
docs/tutorials_and_overviews/natural-language-processing-with-transformers-revised-edition-book.pdf filter=lfs diff=lfs merge=lfs -text
docs/tutorials_and_overviews/Intro-to-Transformers-Xiao-2023.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/state_space_models/Mamba-Linear-Time_Sequence_Modeling_with_Selective_State_Spaces_Gu_CMU_2023.pdf.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/embeddings/Is_Cosine-Similarity_of_Embeddings_Really_About_Similarity_Steck_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/embeddings/Embeddings_in_NLP_Pilhevar_book_draft.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/embeddings/Vector_Semantics_and_Embeddings_Jurafsky_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/embeddings/Word-embeddings_and_Word_vector_Herrera_UPC_slides.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/embeddings/Word_Embeddings_Spirling_Rogriguez_2019.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/Deriving_Machine_Attention_from_Human_Rationales_Bao_IBM-Watson_2018.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/Introduction_to_Transformers-a_NLP_Perspective_Xiao_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/natural-language-processing-with-transformers-revised-edition-book.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/Mamba_Can_it_replace_Transformers_Vishal_Rajput_Jan_2024_Medium.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/Why_Mamba_was_rejected_recently_at_the_ICLR_by_Joe_Elkhoury_Feb_2024_Medium.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/Hungry_Hungry_Hippos-Towards_Language_Modeling_with_State_Space_Models_Fu_Dao_Stanford_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/state_space_models/Efficiently_Modeling_Long_Sequences_with_Structured_State_Spaces_Gu_Stanford_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/state_space_models/HiPPO-Recurrent_Memory_with_Optimal_Polynomial_Projections_Gu_2020.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/state_space_models/How_to_Train_Your_HiPPO-State_Space_Models_with_Generalized_Orthogonal_Basis_Projections_Gu_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/state_space_models/It_is_Raw-Audio_Generation_with_State-Space_Models_Goel_Gu_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/state_space_models/Combining_Recurrent_Convolutional_and_Continuous-time_Models_with_Linear_State-Space_Layers_Gu_2021.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/state_space_models/Mamba_Explained_The_Gradient.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/xLSTM-Extended_Long_Short-Term_Memory_Beck_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/explainability/Transformers_need_glasses_Information_over-squashing_in_language_tasks_Barbero_DeepMind_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/FlashAttention_Fast_and_Memory_Efficient_Exact_Attention_with_IO_Awareness_Dao_Stanford_2022.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/FlashAttention2_Faster_Attention_with_Better_Parallelism_and_Work_Partitioning_Dao_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles_and_books/Understanding_Transformers_via_N-Gram_Statistics_Nguen_2024.pdf filter=lfs diff=lfs merge=lfs -text
